.container {
  max-width: calc(var(--max-width-container) + var(--padding-container) * 2);
  padding: 0 var(--padding-container);
  margin: 0 auto;
}

@media (max-width: 1024px) {
  /*For mobile tablets:*/
}

@media (max-width: 600px) {
  /*For mobile phones:*/
  .container {
    max-width: 100%;
  }
}
